html, body, div,a,p {
	font-family: $font-name__base;
	font-style: normal;
	color:$c-base;
	font-weight:300;
}

.product-wrap{
	width:percentage(1400/1600);
	margin:60px auto;
	text-align:center;
	h2{
		color:$c-brown;
		font-size:36px;
		position:relative;
		margin-bottom:75px;
		letter-spacing:1.8px;
		&:after{
			content:"";
			width:55px;
			height:1px;
			background-color:$c-brown;
			display:block;
			position:absolute;
			bottom:-20px;
			left:50%;
			@include transform(translateX(-50%));
		}
	}
	
}
.products{
	&-list{
	max-width:1000px;
	margin:0 auto;
	.list-title{
		font-size:20px;
		position:relative;
		text-align:left;
		padding-bottom:14px;
		letter-spacing:.9px;
		&:after{
			content:"";
			position:absolute;
			height:1px;
			width:100%;
			display:block;
			background-color:$c-border-product-title;
			bottom:0px;
			}
		}
	}
	&-row{
		margin-bottom:30px;
		padding-bottom:31px;
		border-bottom:1px solid $c-border-product-title;
	}
}

.lists{
	@include flexbox();
	@include justify-content(space-between);
	margin-top:30px;
	.product-item{
		border:1px solid $c-border-product;
		position:relative;
		box-shadow: 0px 2px 5px 0px rgba(143, 130, 98, 0.4); 
		height:100%;
		> *{
			display:block;
		}

		&:after{
			content:"";
			background:url('../img/ico_more.png') no-repeat;
			height:20px;
			width:20px;
			position:absolute;
			bottom:1px;
			right:2px;

		}

		.product{
			&-image{
			height:160px;
			position:relative;
			overflow:hidden;
			border-bottom:1px solid $c-border-product;
				img{
					position:absolute;
					top:50%;
					left:50%;
					@include transform(translate(-50%,-50%)); 
				}
			}
			&-info{
				padding:7px 15px;
			}
			&-label{
				font-size:16px;
				margin-bottom:8px;
				display: block;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    letter-spacing:0.64px;
			}
			&-name{
				font-size:12px;
				line-height:16px;
				margin-bottom:5px;
				display:block;
				&:hover{
					text-decoration:underline;
				}
			}
			&-price{
				color:$c-red;
				font-size:24px;
				letter-spacing: 0.48px;
			}
		}
	}
}

@media only screen and (min-width:768px){
	.lists{
		margin-left:-13px;
		margin-right:-13px;
		.product-item-wrap{
			width:25%;
			padding:0 13px;
		}

	}
}

@media only screen and (max-width:767px){
	.lists{
		@include flex-wrap(wrap); 
		.product-item-wrap{
			margin-bottom:25px;
		}

	}
}

@media only screen and (min-width:480px) and (max-width:767px){
	.lists{ 
		.product-item-wrap{
			width:48%;
		}

	}
}

@media only screen and (max-width:479px){
	.lists{
		.product-item-wrap{
			width:100%;
		}

	}
}