// color
$c-light-dark: #444;
$c-brown: #827451;
$c-border-product:#f1f1f1;
$c-red:#d23c4d;
$c-border-product-title:#bdbdbd;

$font-name__base: 'Kozuka Gothic Pr6N',sans-serif;
$c-base:$c-light-dark;


